body{
    background-color: rgb(198, 222, 242);
    font-size: 1em;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:underline solid 3px rgba(58, 54, 102, 0.964);
}


a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    background-color: white;
    width: 420px;
    overflow-x: hidden;
    border-style:ridge; 
    border: 3px rgb(242, 237, 237) solid;
}